{{/*
  Fetch a Page resource using root relative filepath and a bundle.
  This function will
  1. Use func/FormatPath to transfo `en/headless-bundle/that-resource.md` to `that-resource.md`
  2. Look for that resource in the given bundle.

  @author @regisphilibert

  @context Slice
    - Page ($bundle)
    - String ($path)
    optional
    - Language ($lang)

  @return Page Resource of Type page if success, false on failure

  @example - Go Template
    {{ $page = partial "func/GetPageResource" (slice $bundle $path) $bundle.File.UniqueID $path }}
    {{ $page = partial "func/GetPageResource" (slice $bundle $path site.Sites.First.Language) $bundle.File.UniqueID $path }}

We use a slice as context to simplify argument syntax and retrive both with index */}}
{{ $bundle := index . 0 }}
{{ $path := index . 1 }}
{{/* If a third entry is passed to the slice, this is a language. This means the bunlde only lives in one language, this one */}}
{{ $lang := index . 2 }}

{{ $path = partialCached "func/FormatPath" (dict "path" $path "lang" $lang) $path }}

{{/* Even if not a language context, we must still remove the bundle directory from the path */}}
{{ $path = strings.TrimPrefix $bundle.File.Dir $path }}

{{ $return := false }}
{{ with $bundle.Resources.GetMatch $path }}
  {{ $return = . }}
{{ end }}
{{ return $return }}
